*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}



h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


/* ---------------------------начало работы------------------------------- */

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 30px 399px;
  grid-template-rows: 534px;
  grid-template-areas: 
  'result . content__details';
  width: 1140px;
  height: 534px;

}






/*  -------------------------- блок result(слева) ----------------------- */
.result {
  display: flex;
  flex-direction: column;
  grid-area: result;
  align-self: end;
  gap: 16px;  
}

.result__video-container{
  display: block;
  width: 711px;
  height: 386px;
}

.result__video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/* -------------------------- блок details(справа) -----------------------*/
.content__details {
  grid-area: content__details;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__list-container{
  overflow: auto;
  height: 298px;
  justify-self:  end;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  line-clamp: 4;
  overflow: hidden;

}

.content__card-link{
  text-decoration: none;
  color: #fff;
}

.content__video-card-description-container {
  display: flex;
  width: 196px;
  flex-direction: column;
  gap: 6px;
}

.content__video-card {
  display: flex;
  object-fit: contain;
  
}

/* заголовок */
.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}




/*---------------------------- Кастомные элементы форм------------------ */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  justify-content: space-between;
}
.search-form__fieldset {
  border: none;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;

}
.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
 
  font-size: 18px;
  
  line-height: 100%;
  padding-bottom: 5px;

}
.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}
.search-form__textfield {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  appearance: none;
  min-width: 225px;         /*         для отображения              */
  width: fit-content;
  border: 2px solid white;
  border-left: none;
  border-right: none;
  background: transparent;
  padding-left: 0;
  color: white;
  
}
/* вместо стандартных чекбоксов */
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: inline-block;
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 1px; 
  left: 1px;
 
} 
.button {
  align-self: end;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff; 
  max-height: 34px;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.search-form__submit-button {
  padding: 6px 73.5px;
}
.more-button {
  width: 98%;
  padding: 6px;
  margin: auto;
  margin-bottom: 3px;
  justify-self: center;
  

}
/* состояниz кнопок */
.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
 
}

 .search-form__label:has(.search-form__checkbox:focus-visible ) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__checkbox:hover ~ .search-form__label-text{
  text-decoration: underline;

}
.search-form__textfield:active {
  border:2px solid #fff ;
}
.content__card-link:active .content__video-card {
  background-color: #545050;

}
.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}




/* /выделение текущего видео */
.content__card-link_current .content__video-card  {
  background-color: #545050;

}

.content__list-item {
  padding: 3px;
}

.result__video-container, .content__list-container {
  position: relative;
}